<ul class="nav nav-sidebar">
    <li ui-sref="inbox" ui-sref-active="active"><a><span class="glyphicon glyphicon-envelope"></span> Inbox</a></li>
    <li ui-sref-active="active" ui-sref="drafts"><a><span class="glyphicon glyphicon-pencil"></span> Drafts</a></li>
    <li ui-sref-active="active" ui-sref="sent"><a><span class="glyphicon glyphicon-ok"></span> Sent</a></li>
    <li ui-sref="contacts" ui-sref-active="active"><a><span class="glyphicon glyphicon-list-alt"></span>  Contacts</a></li>
</ul>
